/* VARIABLES */
/* MIXINS */
/* BASE STYLES */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: auto;
  font-size: 1rem;
  font-family: "Raleway", sans-serif;
  background-color: #F4F5F5;
  color: #232725;
  margin-left: auto;
  margin-right: auto;
  scroll-behavior: smooth;
  height: 100vh;
}

a,
li,
button {
  border: none;
  outline: none;
  list-style: none;
  text-decoration: none;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #232725;
}

.logo {
  font-family: "Martian Mono", monospace;
  font-size: 1.5rem;
  font-weight: 700;
}

.wrapper {
  min-height: 100vh;
  padding: 1.5em 6%;
  padding: 1em 6%;
}
.wrapper nav .logo {
  font-family: "Martian Mono", monospace;
  font-size: 1.5rem;
  font-weight: 700;
  color: #1a1e1c;
}
.wrapper nav .nav-item a {
  opacity: 0.6;
  transition: 0.5s;
}
.wrapper nav .nav-item a:hover {
  transform: translateY(-0.18rem);
}
.wrapper nav .nav-item .active {
  opacity: 1;
}
.wrapper nav .nav-item .active:hover {
  transform: translateY(0);
}
.wrapper nav .icon i {
  border-radius: 50%;
  padding: 0.018em 0.24em 0em 0.24em;
  transition: all 0.24s ease-in-out;
  cursor: pointer;
}
.wrapper nav .icon i:hover {
  color: #F1F2ED;
  background-color: #232725;
}
.wrapper #header .text-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.wrapper #header .text-content h1 {
  margin-bottom: 0.45em;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #F4F5F5;
  color: #1a1e1c;
  font-weight: 500;
}
.wrapper #header .text-content p {
  margin-bottom: 1.5em;
  font-size: 1rem;
}
.wrapper #header .text-content button {
  color: #232725;
  border: 1.5px solid #232725;
  padding: 0.3em 0.7em 0.36em;
  text-transform: uppercase;
  letter-spacing: 2.1px;
  transition: all 0.4s ease 0s;
  width: -moz-fit-content;
  width: fit-content;
  box-shadow: 0 0 1px #424242;
  font-size: 1.14rem;
  transition: all 0.3s ease;
}
.wrapper #header .text-content button:hover {
  text-decoration: underline;
  cursor: pointer;
}
.wrapper #header .text-content button a {
  color: #232725;
}
.wrapper #header .text-content button:hover {
  box-shadow: 0 0 2px #363636;
  background-color: #232725;
}
.wrapper #header .text-content button:hover a {
  color: #F1F2ED;
  font-style: italic;
}
.wrapper #header .header-image img {
  width: 100%;
  height: 100%;
  background-position: bottom;
  aspect-ratio: 3/2;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1.2rem;
  border: 0.06px solid #33653a;
  box-shadow: 0.75rem 0.75rem 0 #33653a;
  transition: all 0.3s ease;
}
.wrapper #header .header-image img:hover {
  cursor: pointer;
  transform: translate(0.3rem, 0.3rem);
}

#video {
  min-height: 100vh;
  padding: 1.5em 6%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* targets the video container */
}
#video .vid-container {
  height: 84vh; /* sets viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
  /* targets the video tag */
}
#video .vid-container video {
  max-width: 72vw;
  aspect-ratio: 16/9;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 0 0 4px rgba(35, 39, 37, 0.4549019608);
}

#steps .title h2 {
  font-family: "Poppins", sans-serif;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #F4F5F5;
  color: #1a1e1c;
}
#steps h3 {
  color: #262626;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 4px;
}
#steps p {
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  color: #666666;
}
#steps p.small {
  font-size: 14px;
}
#steps .go-corner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 32px;
  height: 32px;
  overflow: hidden;
  top: 0;
  right: 0;
  background-color: #33653a;
  border-radius: 0 4px 0 32px;
}
#steps .go-arrow {
  margin-top: -4px;
  margin-right: -4px;
  color: white;
  font-family: courier, sans;
}
#steps .info-card {
  display: block;
  position: relative;
  max-width: 262px;
  background-color: #f2f8f9;
  border-radius: 0.5em;
  padding: 1.65rem 1.5rem 0.72rem 1.65rem;
  margin: 12px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  box-shadow: 0px 0px 0.6px 0px #232725;
}
#steps .info-card:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -16px;
  right: -16px;
  background: #33653a;
  height: 32px;
  width: 32px;
  border-radius: 32px;
  transform: scale(1);
  transform-origin: 50% 50%;
  transition: transform 0.45s ease-out;
}
#steps .info-card:hover:before {
  transform: scale(21);
}
#steps .info-card:hover p {
  transition: all 0.45s ease-out;
  color: rgba(255, 255, 255, 0.8);
}
#steps .info-card:hover h3 {
  transition: all 0.45s ease-out;
  color: #ffffff;
}

#top-btn #back-to-top {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 1.5em; /* Place the button at the bottom of the page */
  right: 1.5em; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove out ne */
  background-color: #2a982a; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 0.6em 1em; /* Some padding */
  border-radius: 50%; /* Rounded corners */
  transition: all 0.3s ease;
}
#top-btn #back-to-top:hover {
  background-color: #F2F7F2; /* Add a dark-grey background on hover */
  color: #232725;
}

footer {
  background-color: #33653a;
  width: 100%;
  margin: 0;
}
footer .footer-container {
  padding: 2.4em 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer-container .col-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2em;
  flex-direction: column;
}
footer .footer-container .col-1 .logo {
  text-shadow: 1px 1px 1px #1a1e1c;
  color: #F4F5F5;
}
footer .footer-container .col-1 .socials {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footer-container .col-1 .socials a {
  font-size: 1.5rem;
  color: #F1F2ED;
  margin: 0 0.4em;
  display: inline-block;
  transition: 0.5s;
}
footer .footer-container .col-1 .socials a:hover {
  transform: translateY(-0.3rem);
}
footer .footer-container .col-2, footer .footer-container .col-3 {
  display: flex;
  justify-content: center;
  gap: 0.45em;
  flex-direction: column;
  transition: all 0.3s;
}
footer .footer-container .col-2 h6, footer .footer-container .col-3 h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #F4F5F5;
  font-size: 1.14rem;
  font-weight: 500;
  text-decoration: underline;
}
footer .footer-container .col-2 a, footer .footer-container .col-3 a {
  font-size: 1rem;
  font-weight: 400;
  color: #F1F2ED;
  display: inline-block;
  opacity: 0.84;
}
footer .footer-container .col-2 a:hover, footer .footer-container .col-3 a:hover {
  opacity: 1;
  font-style: italic;
  font-weight: 500;
  text-shadow: 0.3px 0.3px 1px #1a1e1c;
}
footer #copyright {
  background-color: #242926;
  color: #F2F7F2;
  padding: 0.6em 0.6em 0.45em;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
}
footer #copyright span {
  font-weight: 400;
  font-style: italic;
}
footer #copyright span a {
  color: #F4F5F5;
  opacity: 0.75;
  transition: all 0.3s ease;
}
footer #copyright span a:hover {
  text-decoration: underline;
  opacity: 1;
}/*# sourceMappingURL=about.css.map */