/* VARIABLES */

// Font families 
$heading-font: "Poppins", sans-serif;
$body-font: "Raleway", sans-serif;
$logo-font: "Martian Mono", monospace;

// Primary Colors
$primary-color: #33653a;
$primary-bg-color: #225130;
$primary-color-light: #A2CDAD;
$primary-color-white: #F2F7F2;

// Text Colors
$heading-color: #1a1e1c;
$text-color: #232725;
$text-color-light: #858E8A;
$body-color: #F4F5F5;
$bg-dark: #242926;
