@import "_variables";
@import "_mixins";
@import "_base";

// style wrapper
.wrapper {
    // styles section
    @include sectionStyle(); 
    padding: 1em 6%;

    // styles navbar
    nav {

         // logo
        .logo {
            @include logoStyle();
            color: $heading-color;
        }

        .nav-item {

            // styles anchor tags
            a {
                opacity: 0.6;
                // sets a transition
                transition: 0.5s;
                
                &:hover {
                    transform: translateY(-0.18rem);
                }
            }

            // targets active nav tab
            .active {
                opacity: 1;
    
                &:hover {
                    transform: translateY(0);
                }
            }
        }

        // styles nav icon
        .icon {

            i {
                border-radius: 50%;
                padding: 0.018em 0.24em 0em 0.24em;
                // sets a transition
                transition: all 0.24s ease-in-out;
                cursor: pointer;

                &:hover {
                    color: #F1F2ED;
                    // sets background color 
                    background-color: $text-color;
                }
            }
        }
    }

    // styles the header 
    #header {

        .text-content {
            @include flexJustifyC();
            flex-direction: column;

            h1 {
                margin-bottom: 0.45em;
                @include headingStyle();
                color: $heading-color;
                font-weight: 500;
            }

            p {
                margin-bottom: 1.5em;
                // sets font size
                font-size: 1rem;
            }

            button {
                @include btnStyleAlt();
                // sets width
                width: fit-content;
                box-shadow: 0 0 1px #424242;
                // sets font size
                font-size: 1.14rem;
                // sets a transition
                transition: all 0.3s ease;

                // styles anchor tags
                a {
                    color: $text-color; 
                }

                &:hover {
                    box-shadow: 0 0 2px #363636;
                    // sets background color 
                    background-color: $text-color;
                    
                    // styles anchor tags
                    a {
                        color: #F1F2ED;
                        font-style: italic;
                    }
                }
            }
        }

        .video-container {
                
            video {
                // sets width
                width: 100%;
                height: 100%;
                // positions image to the center of the container
                background-position: center;
                aspect-ratio: 3 / 2;
                object-fit: cover;
                border: 0.06px solid $primary-color;
                box-shadow: 0.75rem 0.75rem 0 $primary-color;
            }
        }
    }
}

#categories {
    // styles section
    @include sectionStyle();
    height: auto;
    // sets background color 
    background-color: #F1F2ED;

    .container {
        @include flexCenter();
        flex-direction: column;
        padding: 3.6em 0em;
        height: 100%;
        gap: 0.5em;

        h2 {
            text-decoration: underline;
            margin-top: 0.3em;
            @include headingStyle();
            color: $text-color;
        }

        .carousel {
            padding-top: 2em;
            
            .item {

                h6 {
                    @include headingStyle();
                    color: $text-color;
                    font-weight: 500;
                }

                img {
                    height: 100%;
                    inline-size: 100%; 
                    object-fit: cover;
                    margin-bottom: 0.3em;
                    aspect-ratio: 4 / 5;
                }

                &:hover {
                    cursor: pointer;
                    transform: scale(0.96);

                    h6 {
                        font-weight: 600;
                    }
                }
            }
        }
    }
}

#parallax {

    .shop-parallax {

        // adds a background image
        background-image: url("../media/images/shop-parallax.jpg");
       
        /* Set a specific height */
        min-height: 80vh; 
        
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        // positions image to the center of the container
        background-position: center;
        // prevents background from repreating
        background-repeat: no-repeat;
        // image covers container (without losing quality)
        background-size: cover;
   }
}

#bestsellers {
    padding: 3em 6% 4.5em;

    .row {
        gap: 1em;

        h2 {
            @include headingStyle();
            color: $heading-color;
            padding: 1em 0.75em 1.2em;
        }

        .plant {
            border: 1px solid #b1b1b1;
            border-radius: 0.6em;
            padding: 1em 1em 0em;
            // sets a transition
            transition: all 0.3s ease;

            img {
                inline-size: 100%;
                aspect-ratio: 4 / 5;
                object-fit: cover;
            }

            .details {
                // sets display to flex, aligns content to center, and justifies content to space between
                @include flexJustifySB();
                @include headingStyle();
                font-weight: 400;
                color: #545454;
                padding: 0.6em 0 0;
                // sets margins
                margin: 0;

                p {
                    // sets font size
                    font-size: 0.96rem;
                }

                .product {
                    font-weight: 500;
                    // sets font size
                    font-size: 1rem;
                }

                &:hover {
                    color: #202422;
                }
            }

            &:hover {
                cursor: pointer;
                transform: scale(1.02);
                box-shadow: 2px 2px 6px #00000024;
            }
        }

        .more {

            // styles anchor tags
            a {
                color: $body-color;
            }
        }
    }
}

// BACK-TO-TOP BTN
#top-btn {
    #back-to-top {
        // sets display
        display: none; 
        position: fixed; /* Fixed/sticky position */
        bottom: 1.5em; /* Place the button at the bottom of the page */
        right: 1.5em; /* Place the button 30px from the right */
        z-index: 99; /* Make sure it does not overlap */
        border: none; /* Remove borders */
        outline: none; /* Remove out ne */
        // sets background color 
        background-color: #2a982a; 
        color: white; /* Text color */
        cursor: pointer; /* Add a mouse pointer on hover */
        padding: 0.6em 1em; /* Some padding */
        border-radius: 50%; /* Rounded corners */
        // sets a transition
        transition: all 0.3s ease;

        &:hover {
            // sets background color 
          background-color: $primary-color-white; 
          color: $text-color;
        }
    }
}

// styles footer
footer {
    // sets background color 
    background-color: $primary-color;
    // sets width
    width: 100%;
    // sets margins
    margin: 0;
    
    .footer-container {
        padding: 2.4em 10%;
        // sets display to flex, aligns content to center, and justifies content to space between
        @include flexJustifySB();

        .col-1 {
            @include flexCenter();
            gap: 1.2em;
            flex-direction: column;

            .logo {
                // adds a text shadow
                text-shadow: 1px 1px 1px $heading-color;
                color: $body-color;
            }

            .socials {
                @include flexCenter();

                // styles anchor tags
                a {
                    // sets font size
                    font-size: 1.5rem;
                    color: #F1F2ED;
                    // sets margins
                    margin: 0 0.4em;
                    // sets display
                    display: inline-block;
                    // sets a transition
                    transition: 0.5s;

                    &:hover {
                        transform: translateY(-0.3rem);
                    }
                }
            }
        }

        .col-2, .col-3 {
            @include flexJustifyC();
            gap: 0.45em;
            flex-direction: column;
            // sets a transition
            transition: all 0.3s;

            h6 {
                @include headingStyle();
                // sets font size
                font-size: 1.14rem;
                font-weight: 500;
                text-decoration: underline;
            }

            // styles anchor tags
            a {
                // sets font size
                font-size: 1rem;
                font-weight: 400;
                color: #F1F2ED;
                // sets display
                display: inline-block;
                opacity: 0.84;

                &:hover {
                    opacity: 1;
                    font-style: italic;
                    font-weight: 500;
                    // adds a text shadow
                    text-shadow: 0.3px 0.3px 1px $heading-color;
                }
            }
        }
    }
    
    #copyright {
        // sets background color 
        background-color: $bg-dark;
        color: $primary-color-white;
        padding: 0.6em 0.6em 0.45em;
        text-align: center;
        font-family: $heading-font;
        // sets font size
        font-size: 0.9rem;
        font-weight: 400;

        span {
            font-weight: 400;
            font-style: italic;
            
            // styles anchor tags
            a {
                color: $body-color;
                opacity: 0.75;
                // sets a transition
                transition: all 0.3s ease;
                
                &:hover {
                    text-decoration: underline;
                    opacity: 1;
                }
            }
        }
    }
}