// import variable file
@import "_variables";
// import mixins file
@import "_mixins";
// import base file (contains basic styles)
@import "_base";

// style wrapper
.wrapper {
    // styles section
    @include sectionStyle();
    // sets background color 
    background-color: $primary-color;
    // adds a background image
    background-image: url("../assets/images/bg.jpg");
    // image covers container (without losing quality)
    background-size: cover;        
    // prevents background from repreating
    background-repeat: no-repeat;
    // positions image to the center of the container
    background-position: center center;

    // styles the header 
    header {

        // logo
        .logo {
            // adds a text shadow
            text-shadow: 0.6px 0.6px 2.4px $heading-color, -0.6px -0.6px 2.4px $heading-color;
            // sets color
            color: $body-color;
        }

        // styles nav links
        .nav-links {
            // sets display to flex, aligns content to center, and justifies content to space between
            @include flexJustifySB();
            // sets width
            width: 40vw;
            
            // styles anchor tags
            a {
                // sets font size
                font-size: 1.08rem;
                // sets color
                color: #F1F2ED;
                // sets margins
                margin: 0 0.4em;
                // sets display
                display: inline-block;
                // sets a transition
                transition: 0.5s;
                
                &:hover {
                    transform: translateY(-0.18rem);
                }
            }

            // targets active nav tab
            .active {
                opacity: 1;
                // adds a text shadow
                text-shadow: 0.6px 0.6px 2.4px $heading-color, -0.6px -0.6px 2.4px $heading-color;

                &:hover {
                    transform: translateY(0);
                }
            }
        }

        // styles nav icon
        .icon {
            @include iconStyle();
            padding: 0em 0em 0em 3em;
        }
    }

    // styles hero section
    #hero {
        padding: 1.5em 6%;

        .title {
            height: 100%;
            padding: 12% 0;
            @include flexCenter();
            flex-direction: column;
            color: $body-color;
            text-align: center;
            gap: 0.3em;
            
            h1 {
                @include headingStyle();
                padding: 0.09em;
            }

            h4 {
                @include headingStyle();
                font-weight: 400;
            }

            .cta-btn {
                @include btnStyle();
                margin-top: 0.15em;
                // sets a transition
                transition: all 0.3s ease;
                // sets font size
                font-size: 1.14rem;

                // styles anchor tags
                a {
                    color: $body-color;
                }

                &:hover {
                    border: 1.5px solid $body-color;
                    
                    // styles anchor tags
                    a {
                        font-style: italic;
                    }
                }
            }
        }
    }
}

// styles categories section
#categories {
    // styles section
    @include sectionStyle();
    // sets background color 
    background-color: #F1F2ED;

    .container {
        @include flexCenter();
        flex-direction: column;
        padding: 3.6em 0em;
        height: 100%;
        gap: 0.5em;
        
        .explore {
            // sets width
            width: 100%;
            // sets display to flex, aligns content to center, and justifies content to space between
            @include flexJustifySB();

            h2 {
                margin-top: 0.24em;
                @include headingStyle();
                color: $text-color;
            }

            .shop-btn {
                @include btnStyleAlt();
                // sets a transition
                transition: all 0.3s ease;

                // styles anchor tags
                a {
                    color: $text-color;
                }

                &:hover {
                    border: 1.5px solid $text-color;

                    // styles anchor tags
                    a {
                        font-style: italic;
                    }
                }
            }
        }

        .carousel {
            padding-top: 2em;
            
            .item {

                h6 {
                    @include headingStyle();
                    color: $text-color;
                    font-weight: 500;
                }

                img {
                    margin-bottom: 0.3em;
                    aspect-ratio: 4 / 5;
                }

                &:hover {
                    transform: scale(0.96);

                    h6 {
                        font-weight: 600;
                    }
                }
            }
        }
    }
}

// styles parallax image
#before-parallax {

    // adds a background image
    background-image: url("../assets/images/before-parallax.jpg");
    
    /* Set a specific height */
    min-height: 80vh; 
    
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    // positions image to the center of the container
    background-position: center;
    // prevents background from repreating
    background-repeat: no-repeat;
    // image covers container (without losing quality)
    background-size: cover;
}

// styles about section
#about {
    // styles section
    @include sectionStyle();
    height: 120vh;
    // sets background color 
    background-color: #F1F2ED;

    .container {
        height: 100%;
        // sets display to flex, aligns content to center, and justifies content to space between
        @include flexJustifySB();
        padding: 3em;

        .image {
            // sets width
            width: 45%;
            height: 99vh;

            img {
                height: 100%;
                inline-size: 100%; 
                object-fit: cover;
                // positions image to the bottom of the container
                ;
                // prevents background from repreating
                background-repeat: no-repeat;
                // image covers container (without losing quality)
                background-size: cover;
            }
        }

        .gardening-info {
            // sets width
            width: 100%;
            flex: 1;
            gap: 3em;
            // sets margins
            margin: 0em 0em 0em 5%;

            h2 {
                @include headingStyle();
                color: $text-color;
                padding: 0.5em 0 0;
            }

            h5 {
                @include headingStyle();
                color: $text-color;
                text-transform: uppercase;
                letter-spacing: 1px;
            }

            p {
                padding: 1.8em 0em 1.2em;
            }

            .learn-more {
                @include btnStyleAlt();
                // sets width
                width: fit-content;

                .learn {
                    color: $text-color;
                }

                &:hover {
                    border: 1.5px solid $text-color;

                    // styles anchor tags
                    a {
                        font-style: italic;
                    }
                }
            }
        }
    }
}

// styles parallax image
#after-parallax {

    // adds a background image
    background-image: url("../assets/images/after-parallax.jpg");
    
    /* Set a specific height */
    min-height: 84vh; 
    
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    // prevents background from repreating
    background-repeat: no-repeat;
    // image covers container (without losing quality)
    background-size: cover;
}

// styles newsletter section
#newsletter {
    // sets display to flex, aligns content to center, and justifies content to space between
    @include flexJustifySB();
    padding: 3em 6%;

    .info {
        flex: 1;
        gap: 0.3em;

        h3, h6 {
            @include headingStyle();
            color: $heading-color;
        }

        h6 {
            margin-top: 1em;
        }
    }

    .submit-email {
        flex: 1;
        // sets width
        width: 100%;
        @include flexJustifyC();
        align-items: start;
        flex-direction: column;
        gap: 0.5em;

        .email {
            // sets width
            width: 100%;

            .form-control {
                color: $text-color;
                width: 100%;

                &:focus, &:active {
                    border-radius: 0.3rem;
                    box-shadow: 0 0 2px $primary-color-light, 0 0 6px $primary-color-light;
                    outline: none;
                    border-color: none;
                }
            }
        }
    }
}

// styles BACK-TO-TOP Button
#top-btn {
    #back-to-top {
        // sets display
        display: none; 
        position: fixed; /* Fixed/sticky position */
        bottom: 1.5em; /* Place the button at the bottom of the page */
        right: 1.5em; /* Place the button 30px from the right */
        z-index: 99; /* Make sure it does not overlap */
        border: none; /* Remove borders */
        outline: none; /* Remove out ne */
        // sets background color 
        background-color: #2a982a; 
        color: white; /* Text color */
        cursor: pointer; /* Add a mouse pointer on hover */
        padding: 0.6em 1em; /* Some padding */
        border-radius: 50%; /* Rounded corners */
        // sets a transition
        transition: all 0.3s ease;

        &:hover {
            // sets background color 
            background-color: $primary-color-white; /* Add a dark-grey background on hover */
            color: $text-color;
        }
    }
}

// styles footer
footer {
    // sets background color 
    background-color: $primary-color;
    // sets width
    width: 100%;
    // sets margins
    margin: 0;
    
    .footer-container {
        padding: 2.4em 10%;
        // sets display to flex, aligns content to center, and justifies content to space between
        @include flexJustifySB();

        .col-1 {
            @include flexCenter();
            gap: 1.2em;
            flex-direction: column;

            .logo {
                // adds a text shadow
                text-shadow: 1px 1px 1px $heading-color;
                color: $body-color;
            }

            .socials {
                @include flexCenter();

                // styles anchor tags
                a {
                    // sets font size
                    font-size: 1.5rem;
                    color: #F1F2ED;
                    // sets margins
                    margin: 0 0.4em;
                    // sets display
                    display: inline-block;
                    // sets a transition
                    transition: 0.5s;

                    &:hover {
                        transform: translateY(-0.3rem);
                    }
                }
            }
        }

        .col-2, .col-3 {
            @include flexJustifyC();
            gap: 0.45em;
            flex-direction: column;
            // sets a transition
            transition: all 0.3s;

            h6 {
                @include headingStyle();
                // sets font size
                font-size: 1.14rem;
                font-weight: 500;
                text-decoration: underline;
            }

            // styles anchor tags
            a {
                // sets font size
                font-size: 1rem;
                font-weight: 400;
                color: #F1F2ED;
                // sets display
                display: inline-block;
                opacity: 0.84;

                &:hover {
                    opacity: 1;
                    font-style: italic;
                    font-weight: 500;
                    // adds a text shadow
                    text-shadow: 0.3px 0.3px 1px $heading-color;
                }
            }
        }
    }
    
    #copyright {
        // sets background color 
        background-color: $bg-dark;
        color: $primary-color-white;
        padding: 0.6em 0.6em 0.45em;
        text-align: center;
        font-family: $heading-font;
        // sets font size
        font-size: 0.9rem;
        font-weight: 400;

        span {
            font-weight: 400;
            font-style: italic;
            
            // styles anchor tags
            a {
                color: $body-color;
                opacity: 0.75;
                // sets a transition
                transition: all 0.3s ease;
                
                &:hover {
                    text-decoration: underline;
                    opacity: 1;
                }
            }
        }
    }
}