@import "_variables";
@import "_mixins";
@import "_base";

.wrapper {
    @include sectionStyle();
    background-image: url("../assets/images/bg.jpg");
    background-size: cover;                      
    background-repeat: no-repeat;
    background-position: center center;

    header {

        .logo {
            text-shadow: 0.6px 0.6px 2.4px $heading-color, -0.6px -0.6px 2.4px $heading-color;
            color: $body-color;
        }

        .nav-links {
            @include flexJustifySB();
            width: 40vw;
            
            a {
                font-size: 1.08rem;
                color: #F1F2ED;
                margin: 0 0.4em;
                display: inline-block;
                transition: 0.5s;
                
                &:hover {
                    transform: translateY(-0.18rem);
                }
            }

            .active {
                opacity: 1;
                text-shadow: 0.6px 0.6px 2.4px $heading-color, -0.6px -0.6px 2.4px $heading-color;

                &:hover {
                    transform: translateY(0);
                }
            }
        }

        .icon {
            @include iconStyle();
            padding: 0em 0em 0em 3em;
        }
    }

    #hero {
        padding: 1.5em 6%;

        .title {
            height: 100%;
            padding: 12% 0;
            @include flexCenter();
            flex-direction: column;
            color: $body-color;
            text-align: center;
            gap: 0.3em;
            
            h1 {
                @include headingStyle();
                padding: 0.09em;
            }

            h4 {
                @include headingStyle();
                font-weight: 400;
            }

            .cta-btn {
                @include btnStyle();
                margin-top: 0.15em;
                transition: all 0.3s ease;
                font-size: 1.14rem;

                a {
                    color: $body-color;
                }

                &:hover {
                    border: 1.5px solid $body-color;
                    
                    a {
                        font-style: italic;
                    }
                }
            }
        }
    }
}

#categories {
    @include sectionStyle();
    background-color: #F1F2ED;

    .container {
        @include flexCenter();
        flex-direction: column;
        padding: 3.6em 0em;
        height: 100%;
        gap: 0.5em;
        
        .explore {
            width: 100%;
            @include flexJustifySB();

            h2 {
                margin-top: 0.24em;
                @include headingStyle();
                color: $text-color;
            }

            .shop-btn {
                @include btnStyleAlt();
                transition: all 0.3s ease;

                a {
                    color: $text-color;
                }

                &:hover {
                    border: 1.5px solid $text-color;

                    a {
                        font-style: italic;
                    }
                }
            }
        }

        .carousel {
            padding-top: 2em;
            
            .item {

                h6 {
                    @include headingStyle();
                    color: $text-color;
                    font-weight: 500;
                }

                img {
                    margin-bottom: 0.3em;
                    aspect-ratio: 4 / 5;
                }

                &:hover {
                    transform: scale(0.96);

                    h6 {
                        font-weight: 600;
                    }
                }
            }
        }
    }
}

#before-parallax {

    /* The image used */
    background-image: url("../assets/images/before-parallax.jpg");
    
    /* Set a specific height */
    min-height: 80vh; 
    
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#about {
    @include sectionStyle();
    height: 120vh;
    background-color: #F1F2ED;

    .container {
        height: 100%;
        @include flexJustifySB();
        padding: 3em;

        .image {
            width: 45%;
            height: 99vh;

            img {
                height: 100%;
                inline-size: 100%; 
                object-fit: cover;
                background-position: bottom;
                background-repeat: no-repeat;
                background-size: cover;
            }
        }

        .gardening-info {
            width: 100%;
            flex: 1;
            gap: 3em;
            margin: 0em 0em 0em 5%;

            h2 {
                @include headingStyle();
                color: $text-color;
                padding: 0.5em 0 0;
            }

            h5 {
                @include headingStyle();
                color: $text-color;
                text-transform: uppercase;
                letter-spacing: 1px;
            }

            p {
                padding: 1.8em 0em 1.2em;
            }

            .learn-more {
                @include btnStyleAlt();
                width: fit-content;

                .learn {
                    color: $text-color;
                }

                &:hover {
                    border: 1.5px solid $text-color;

                    a {
                        font-style: italic;
                    }
                }
            }
        }
    }
}

#after-parallax {

    /* The image used */
    background-image: url("../assets/images/after-parallax.jpg");
    
    /* Set a specific height */
    min-height: 84vh; 
    
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#newsletter {
    @include flexJustifySB();
    padding: 3em 6%;

    .info {
        flex: 1;
        gap: 0.3em;

        h3, h6 {
            @include headingStyle();
            color: $heading-color;
        }

        h6 {
            margin-top: 1em;
        }
    }

    .submit-email {
        flex: 1;
        width: 100%;
        @include flexJustifyC();
        align-items: start;
        flex-direction: column;
        gap: 0.5em;

        .email {
            width: 100%;

            .form-control {
                color: $text-color;
                width: 100%;

                &:focus, &:active {
                    border-radius: 0.3rem;
                    box-shadow: 0 0 2px $primary-color-light, 0 0 6px $primary-color-light;
                    outline: none;
                    border-color: none;
                }
            }
        }
    }
}

// BACK-TO-TOP BTN
#top-btn {
    #back-to-top {
        display: none; /* Hidden by default */
        position: fixed; /* Fixed/sticky position */
        bottom: 1.5em; /* Place the button at the bottom of the page */
        right: 1.5em; /* Place the button 30px from the right */
        z-index: 99; /* Make sure it does not overlap */
        border: none; /* Remove borders */
        outline: none; /* Remove out ne */
        background-color: #2a982a; /* Set a background color */
        color: white; /* Text color */
        cursor: pointer; /* Add a mouse pointer on hover */
        padding: 0.6em 1em; /* Some padding */
        border-radius: 50%; /* Rounded corners */
        transition: all 0.3s ease;

        &:hover {
          background-color: $primary-color-white; /* Add a dark-grey background on hover */
          color: $text-color;
        }
    }
}

footer {
    background-color: $primary-color;
    width: 100%;
    margin: 0;
    
    .footer-container {
        padding: 2.4em 10%;
        @include flexJustifySB();

        .col-1 {
            @include flexCenter();
            gap: 1.2em;
            flex-direction: column;

            .logo {
                text-shadow: 1px 1px 1px $heading-color;
                color: $body-color;
            }

            .socials {
                @include flexCenter();

                a {
                    font-size: 1.5rem;
                    color: #F1F2ED;
                    margin: 0 0.4em;
                    display: inline-block;
                    transition: 0.5s;

                    &:hover {
                        transform: translateY(-0.3rem);
                    }
                }
            }
        }

        .col-2, .col-3 {
            @include flexJustifyC();
            gap: 0.45em;
            flex-direction: column;
            transition: all 0.3s;

            h6 {
                @include headingStyle();
                font-size: 1.14rem;
                font-weight: 500;
                text-decoration: underline;
            }

            a {
                font-size: 1rem;
                font-weight: 400;
                color: #F1F2ED;
                display: inline-block;
                opacity: 0.84;

                &:hover {
                    opacity: 1;
                    font-style: italic;
                    font-weight: 500;
                    text-shadow: 0.3px 0.3px 1px $heading-color;
                }
            }
        }
    }
    
    #copyright {
        background-color: $bg-dark;
        color: $primary-color-white;
        padding: 0.6em 0.6em 0.45em;
        text-align: center;
        font-family: $heading-font;
        font-size: 0.9rem;
        font-weight: 400;

        span {
            font-weight: 400;
            font-style: italic;
            
            a {
                color: $body-color;
                opacity: 0.75;
                transition: all 0.3s ease;
                
                &:hover {
                    text-decoration: underline;
                    opacity: 1;
                }
            }
        }
    }
}